<div id="<%= dom_id user %>">
  <p>
    <strong>Avatar:</strong>
    <%= user.avatar %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastname %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= user.rol %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= user.notes %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= user.available %>
  </p>

</div>
